<div>
    <h1>Crea una nueva contraseña</h1>
    <form id="restoreForm">
        <label>Correo electrónico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/restore.js"></script>